@model SolrTest.Models.QuoteDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Quote</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleBody)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleBody)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Year)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Abstract)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Abstract)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Source)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<p>
    Similar Items:<br />
    @foreach (var quote in Model.SimilarItems)
    {
        @Html.ActionLink(quote.Title, "Details", new { id = quote.Id });
        <br />
    }
</p>
